.default {
    color: #000000;
}

.beginner {
    color: #ffff00;
}

.novice {
    color: #ffaa00;
}

.intermediate {
    color: #ff0000;
}

.advanced {
    color: #aa00aa;
}

.master {
    color: #000000;
}

.default .button-group, .beginner .button-group, .novice .button-group {
    display:flex;
}

.master .button-group {
    display: flex;
    flex-direction:column;
}

.default .button-group input, .beginner .button-group input, .novice .button-group input {
    flex:1;
}