.calculator-output {
  display: flex;
  flex-direction: column;
}

.calculator-output-row {
  flex-grow: 1;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}


.calculator-output-row h1,
.calculator-output-row h2,
.calculator-output-row h3,
.calculator-output-row h4,
.calculator-output-row h5,
.calculator-output-row h6
{
  text-align: center;
  align-self: center;
  flex: 2 1 0;
  padding-left: 10px;
  padding-right: 10px;
}

.calculator-output-row p,
.calculator-output-row input
{
  flex: 5 1 0;

}

.calculator-output-row p
{
  margin-block-start: 0px;
  margin-block-end: 0px;
}
